.card-container {
    max-width: 800px;
    margin: auto;
}
.avatar-content {
    width: 250px;
    height: 250px;
}

@media screen and (min-width: 800px) {
    .profile-container {
        display: flex;

        .profile-info {
            display: grid;
            grid-template-columns: auto auto;
            padding: 20px;
            column-gap: 20px;
        }
    }
}