<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="pencil-outline"></ion-icon> Profile Form</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <app-contact-form></app-contact-form>
    </ion-card-content>
  </ion-card>
</ion-content>
